// Add to your Flutter app android/settings.gradle(.kts) to use live native-android from monorepo:
//
// include(":fleet-sdk")
// project(":fleet-sdk").projectDir = file("PATH/TO/mgl-sdk/native-android/fleet-sdk")
